<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>登陆</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/jquery.cookie.js"></script>
    <script src="../static/js/jquerysession.js"></script>
    <script>
    $(function(){
        $(".login").click(function(){
                var username=$(".username").val();
                var password=$(".password").val();
                $.ajax({
                    url:"/getlogin",
                    dataType: "json",
                    data:{
                        'username':username,
                        'password':password,
                    },
                    success: function(data){

                        var message = data[1];
                        var user_id = data[0];
                        if(message=='logined'){
                            $.session.set('user_id', user_id);
                            location.href='/';
                        }
                            else{alert(message);}
                    },
                    error: function(){
                                alert('出错！'); }
                });//ajax
        });
    });

    </script>
</head>
<body>

    <div class="background">
        <div class="post-slide">
            <div class="text-wrap">
                <h2 class="blogtype">my blog</h2>
                <h1 class="logintype">Please Login</h1>

                <p>username：<input class="username" name="username"></p>
                <p>password：<input class="password" name="password"></p>
                <button class="login" >login</button>

            <div class="meta">
              <span>May 25, 2021</span>
            </div>
                 <a href="{% url 'home'%}">return</a>
                <a href="{% url 'register'%}">register</a>
          </div>
        </div> <!-- .post-slide -->
    </div>
</body>

