{% extends "base.html" %}

{% block css %}
        <link rel="stylesheet" href="../static/css/write.css">
{% endblock %}

{% block content %}


<div class="background">
<div id="container">
<div id="banner">
		<h1>发博文</h1>
</div>

<br/>
<div id="main">

 <form action="/write/" method="POST" name="form1">
            {% csrf_token %}
        <div class="tleft"><h>标题：</h></div>
            <input type="text"  class="title" name="title">
        <div class="cleft"><h>内容：</h></div>
            <textarea type="text" class="article"  name="content"></textarea>

            <p>选择你的标签（至少选一个吧！）</p>
            <input type="checkbox" name="tags" value="政治">政治
            <input type="checkbox" name="tags" value="文学">文学
            <input type="checkbox" name="tags" value="经济">经济
            <input type="checkbox" name="tags" value="体育">体育
            <input type="checkbox" name="tags" value="娱乐">娱乐
            <input type="checkbox" name="tags" value="科技">科技
            <input type="checkbox" name="tags" value="动物">动物
            <input type="checkbox" name="tags" value="生活">生活

            <p><button type="submit" value="发布">发布</button></p>
        </form>

</div>

</div>

</div>


        {% endblock %}