
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/css/base.css">
    {% block css %}

     {% endblock %}

    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/jquery.cookie.js"></script>
    <script src="../static/js/jquerysession.js"></script>
    <script>
    $(function(){
            {% block script_top %}

            {% endblock %}
            var cookie_dict = $.cookie();//以字典形式{'name':'value'}返回cookie
            var find = 0;
            for (var i in cookie_dict)
            {
                if('user_id'==i){find=1;}
            };
            if(find!=0){
                var user_id = $.cookie('user_id');
                $.ajax({
                        url: '/getusername',
                        dataType: "json",
                        data: {
                            'user_id':user_id,
                        },
                        success: function(data){
                            $("#login").text(data);
                            $("#login").click(function(){
                            $("#login").attr({"href" : "http://127.0.0.1:8000/personal/",});  });
                            $("#register").text("更改用户");
                            $("#register").click(function(){
                            $("#register").attr({"href" : "http://127.0.0.1:8000/login/",});  });
                        },
                        error: function(){
                            alert('出错！'); }

                            });//ajax
//----------------------------------------------------------------

                        }
            {% block script %}

            {% endblock %}


        });
    </script>
</head>

<body>
<div class="background">

        <div class="top">
            <div class="blog">blog</div>
            <div class="left">
                <a id="login" href={% url 'login' %} >登陆</a>
                <a id="register" href={% url 'register' %} >注册</a>
<!--                <div id="user"></div>-->
            </div>
            <div class="right">
                <a href={% url 'home'%}>首页</a>
                <a href={% url 'write'%}>写博客</a>
                <a href={% url 'hot'%}>热点动态</a>
                <a href={% url 'follow'%}>我的关注</a>
                
                
            </div>

        </div>
        {% block content %}

     {% endblock %}



    </div>


{% block content2 %}

{% endblock %}

</body>
</html>
