{% extends "base.html" %}

    {% block css %}
        <link rel="stylesheet" href="../static/css/home.css">
     {% endblock %}

{% block script_top %}
//接受login发来的信息
    var session = sessionStorage.getItem("user_id");
    if(session!=null)
    {$.cookie('user_id',session);}//根据session将用户记录写入cookie
{% endblock %}

{% block script %}
    var status = {{status|safe}};
    if(status=="logined")
        {var x= {{json|safe}};
        $(".paragraph").click(function(){
            var user_id = $.cookie('user_id');
            var article_id = $(this).children("h").attr("class");//读出title的id值
            location.href = "/read/?article_id="+article_id+"&user_id="+user_id;//向地址传参数;
        });
        }
    else
        {
         }
        //自定义函数
        $(".paragraph").bind("gettag",function()
        {
        //给button按钮添加的自定义事件gettag事件
            var position=$(this);
            var article_id=$(this).children("h").attr("class");
            $.ajax({
                url:'/get_tag',
                dataType:'json',
                data:{
                       'article_id':article_id,
                },
                success:function(data){
                    for(i=0;i<data.length;i++)
                    {
                        var tag="<div>"+data[i]+"</div>";

                        position.children(".tags").append(tag);
                        position.children(".tags").children("div").addClass('tag');

                    }
                },
                error:function(){
                alert('出错');},

            });
        });
        $(".paragraph").trigger("gettag");


{% endblock %}

{% block content %}
        <div class="free"></div>
        <div class="free">欢迎来到博客</div>
{% endblock %}

{% block content2 %}

    {% for blog in data %}
    <div class="paragraph">
        <div class="tags"></div>
        <h class={{blog.id}}> {{blog.title}} </h>
        <p class="date">{{blog.pub_date}}</p>
        <p class="content">{{ blog.content }}</p>
    </div>
    {% endfor %}

    <div class="pagination">
        <ul>
            <li>
                {% if obj.number == 1 %} {# 判断当前页码是否为第一页，如果为第一页，则禁止点击 #}
                    <a aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <a href="?page={{ obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                {% endif %}

            </li>
            {% for num in page_num %}
                {% if num == obj.number %} {# 判断是否是当前页，如果是则激活高亮显示 #}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% else %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            <li>
                {% if not obj.has_next %} {# 判断是否有下一页，如果没有下一页，则禁止点击 #}
                    <a aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <a href="?page={{ obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                {% endif %}

            </li>
        </ul>
    </div>





{% endblock %}
