<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="../static/css/register.css">
    <script>
        var message = {{message|safe}};
        alert(message);
    </script>
</head>
<body>
    <div class="background">
        <div class="post-slide">
            <div class="text-wrap">
                <h2 class="blogtype">my blog</h2>
                <h1 class="logintype">注册</h1>
                <form action="/register/" method="POST">
                        {% csrf_token %}
                        <p>用户名：<input type="text" name="username"></p>
                        <p>电子邮箱：<input type="text" name="email"></p>
                        <p>密码：<input type="password" name="password"></p>
                        <p>签名：<input type="text" name="signature"></p>
                        <p>是否同意：<input type="checkbox" name="agree"></p>
                        <input type="submit"  value="注册">
                </form>
            <div class="meta">
              <span>May 26, 2021</span>
            </div>
                 <a href="{% url 'home'%}">返回首页</a>
          </div>
        </div> <!-- .post-slide -->
    </div>
<!--    <h1>注册</h1>-->
<!--    <form action="/register" method="POST">-->
<!--        {% csrf_token %}-->
<!--        <p>用户名：<input type="text" name="username"></p>-->
<!--        <p>电子邮箱：<input type="text" name="email"></p>-->
<!--        <p>密码：<input type="password" name="password"></p>-->
<!--        <p>签名：<input type="text" name="signature"></p>-->
<!--        <p>是否同意：<input type="checkbox" name="agree"></p>-->
<!--        <input type="submit"  value="注册">-->
<!--    </form>-->
<!--    <a href="{% url 'home'%}">返回首页</a>-->
</body>
</html>