<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax通信</title>
	<script src="../static/js/jquery-3.6.0.min.js"></script>
	<script>
    $(function(){

	$("button").click(function(){
				var user = '4'
			$.ajax({
				url: 'ajax',
				dataType: "json",
				data: {
					'ajax_input_data': user
				},
				success: function(){

					alert('成功！');
				},
				error: function(){
					alert('出错！')
				}
		})

		});


    });
    //{'csrfmiddlewaretoken': csrf}
	</script>
</head>
<body>
	<button >发送请求</button>
</body>

</html>