{% extends "base.html" %}
{% block css %}
    <link rel="stylesheet" href="../static/css/follow.css">
{% endblock %}

{% block script %}
        var status = {{status|safe}};
        if(status!="logined")
            {alert('您还未登录，请先登录');
            location.href = "/login";}
        //点击我的粉丝查看个人空间
        $(".username").click(function(){
            var user_id = $(this).children().attr('class');
            var Visitor_id= $.cookie('user_id');
            //$.ajax({
			//	url: '/others_space',
			//	data: {
            //        'user_id':user_id,
            //        'Visitor_id':Visitor_id
			//	},
            //    success: function(data){

                    location.href="/others_space/?user_id="+user_id+"&Visitor_id="+Visitor_id;//向地址传参数
			//	},
			//	error: function(){
			//	},

            //    })
        });
        //点击我的关注查看个人空间
        $(".username2").click(function(){
            var username = $(this).children().text();
            var Visitor_id= $.cookie('user_id');
            $.ajax({
				url: "/getid",
                dataType: "json",
				data:{
                    'username':username,
				},
                success: function(data){
                    var user_id=data;
                    location.href="/others_space/?user_id="+user_id+"&Visitor_id="+Visitor_id;//向地址传参数
				},
				error: function(){
				},

                });
        });

{% endblock %}




{% block content %}
<div class="background1">
    <div class="post-slide">
            <div class="text-wrap">
                <div ><h1 class="blogtype">我的粉丝</h1></div>
                    {%for follower in follower_list%}
                    <div class="username">
                    <p class={{follower.id}}>{{follower.username}}</p>
                    </div>
                    {%endfor%}
                <div><h1 class="logintype">我的关注</h1></div>
                        {% for idol in myidol_list%}
                        <div class="username2">
                        <p>{{idol.name}}</p>
                        </div>
                        {% endfor %}


            <div class="meta">
              <span>May 26, 2021</span>
            </div>
          </div>
        </div> <!-- .post-slide -->

    </div>
{% endblock %}