



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user.username}}的空间</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <script src="../static/js/jquery-3.6.0.min.js"></script>
    <script src="../static/js/jquery.cookie.js"></script>
    <script>
        $(function(){
            var status={{status|safe}};
            if(status=='1')
            {
                $("button").after("<p>已关注</p>");
                $("button").remove();
            }
                $(".attend").click(function(){
                var user_id=$.cookie('user_id');
                var attend_name =$(".username").text();
                $.ajax({
                    url:'/attend',
                    dataType: "json",
                    data:{
                        'user_id':user_id,
                        'attend_name':attend_name
                    },
                    success:function(){
                        alert('关注成功！');

                    },
                    error:function(){ alert('出错');  },
                        });

            });//click

            //读文章
            $(".paragraph").click(function(){
            var user_id = $.cookie('user_id');
            var article_id = $(this).children("p").attr("class");//读出title的id值
            location.href = "/read/?article_id="+article_id+"&user_id="+user_id;//向地址传参数;
            });

        });

    </script>
</head>
<body>
<div class="background">
    <div id="container">
    <div id="banner">
		<h1>{{user.username}}的空间</h1>
        <a href={% url 'home' %}>回到首页</a>
	</div>
<div id="center">
{% for blog in data %}
    <div class="paragraph">
    <p class={{blog.account.id}}>{{blog.title}}</p>
    <div class="content">
	<!-- begin entry -->
    <p>{{ blog.content }}</p>

		<!-- end comments -->
        <br clear="all" />

    </div><!-- end content -->
        </div>
{% endfor %}
</div><!-- end center -->


<div id="right">
<div class="sidebar">
    <h2><a ></a>头像</h2>
    <img src="{{user.avatar.avatar.url}}" style="height:100px;width:100px;" alt="404">

     <p></p>

        <div class="entry">
            <a id="6"></a>
            <h2><a ></a>用户名</h2>
            <p class="username">{{user.username}}</p>

            <p></p>
        </div>
	    <!-- end entry -->
	    <!-- begin comments -->

		<h2><a id="comments"></a>个性签名</h2>
        <p class="content">{{user.signature}}</p>

         <p></p>

        <h2>email</h2>
        <p class="content">{{user.email}}</p>

         <p></p>

        <h2>关注</h2>
        <p>关注数:{{follower_list_len}}</p>
        <button class="attend">关注他！</button>
         <p></p>





</div><!-- end sidebar -->
</div><!-- end right -->
</div><!-- end container -->
</div>


    <div class="pagination">
        <ul>
            <li>
                {% if obj.number == 1 %} {# 判断当前页码是否为第一页，如果为第一页，则禁止点击 #}
                    <a aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <a href="?page={{ obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                {% endif %}

            </li>
            {% for num in page_num %}
                {% if num == obj.number %} {# 判断是否是当前页，如果是则激活高亮显示 #}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% else %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            <li>
                {% if not obj.has_next %} {# 判断是否有下一页，如果没有下一页，则禁止点击 #}
                    <a aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                {% else %}
                    <a href="?page={{ obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                {% endif %}

            </li>
        </ul>
    </div>



</body>
</html>