/*背景框*/
.background{

    height: 1000px;
    background-image:url(../static/img/3.png);
    background-size:1894px 1106px ;
     background-attachment: fixed;
}
.background2{
    width:1000px
    height: 500px;
    background-color:white;
    margin:0 atuo;
}
.post-slide {
background-size: cover;
background-position: center center;
height: 97vh;
min-height: 560px;
position: relative;}
 .post-slide .text-wrap {
  text-align: center;
  padding: 40px;
  background: #ffffff;
  position: absolute;
  bottom: 120px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-width: 500px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05); }
  @media (max-width: 991.98px) {
     .post-slide .text-wrap {
      max-width: 100%;
      left: auto;
      -webkit-transform: auto;
      -ms-transform: auto;
      transform: auto;
      left: 20px;
      right: 20px;
      -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
      transform: translateY(0%); } }
   .post-slide .text-wrap .share ul li,  .post-slide .text-wrap .share ul li a {
    display: inline-block; }
   .post-slide .text-wrap .share ul li a {
    position: relative;
    width: 30px;
    height: 30px;
    background: #f8f9fa;
    color: #000000; }
     .post-slide .text-wrap .share ul li a span {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
   .post-slide .text-wrap .meta {
    line-height: 50px;
    vertical-align: center;
    color: rgba(152, 152, 152, 0.7); }
 .post-slide.single-page .text-wrap {
  max-width: 100%;
  position: absolute;
  bottom: -40px;
  left: 20px;
  right: 20px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
  left: 50%; }
  @media (max-width: 991.98px) {
     .post-slide.single-page .text-wrap {
      bottom: -40px;
      left: 20px;
      position: absolute;
      right: 20px;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05);
      box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.05); } }