/*标题框*/
.top{
    //position: relative;
    top:0;
    width:1500px;
    height: 60px;
    background-color:black;


}
/*标题样式*/
.blog{
    //position: relative;
    //top:0;
    //left:0;
    float:left;
    width:150px;
    height:60px;
    color: white;
    font-family: 'Arial','Microsoft YaHei';
    font-weight:bold;
    line-height:60px;
    font-size:25px;
    text-align:center;
}
/*登陆注册栏*/
.left{
    //position: absolute;
    //top:0;
    //left:150px;
    float:left;
    width:200px;
    height:60px;
}
.left a{
    float:left;
    margin-left:20px;
    font-family: 'Arial','Microsoft YaHei';
    color: white;
    font-weight:bold;
    font-size:20px;
    text-decoration:none;
    line-height:60px;

}

.left a:hover{
    color: #fcaf54;
}

/*登陆成功后的用户栏*/

/*导航栏*/
.right{
    //position: absolute;
    //top:0;
    //right:0;
    float:right;
    width:500px;
    height:60px;
}

.right a{
    float:right;
    margin-right:20px;
    font-family: 'Arial','Microsoft YaHei';
    color: white;
    font-weight:bold;
    font-size:20px;
    text-decoration:none;
    line-height:60px;
}

.top a:hover{
    color: #fcaf54;
}
/*-----------------------*/

/*正文标题*/
